//
// Theme style
//

// Mode
$mode: default;

// Initialize
@import 'init';

// Components
@import './core/components/components';
@import 'components/components';

// Layout
@import 'layout/layout';
@import './core/layout/docs/layout';

.address-sugestions {
  background-color: #fff;
  color: #5e6278;
  cursor: pointer;
  padding: 4px;
  &.active {
    background: #b7824b;
    color: #fff;
    cursor: pointer;
  }
}
